@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECE8E5;
  --foreground: #3F3A3A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#ECE8E5
    --foreground: #3F3A3A;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: 'MullerThin', sans-serif;
}
